/**********
GENERIC STYLES
***********/

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3125rem;
}

/**********
COMPONENTS
***********/
.container {
    width: 1128px;
    max-width: 80%;
    margin: 0 auto;
}