/**********
GENERIC STYLES
***********/

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3125rem;
}

/***********
LAYOUT
************/
.header {
    background-color: #F3EED9;
    text-align: center;
    min-height: 41.25em;
}

.header__text {
    width: 50%;
    margin: 0 auto;
    max-width: 45em;
}

.primary-section {
    padding: 3em 0;
}

/***********
TYPOGRAPHY
************/
.header__text h3 {    
    font-size: 1.1rem;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.header__text h1,
.section-title {
    color: #824936;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.header__text h1 {
    font-size: 3.75rem;
    line-height: 1.125em;
    margin: 0;
    margin-top: 0.1em;
    padding: 0;
}

.section-title {
    text-align: center;
    font-size: 2.25rem;
}

/**********
COMPONENTS
***********/
.container {
    width: 1128px;
    max-width: 80%;
    margin: 0 auto;
}

/**********
UTILITY CLASS
***********/
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.gap-16 {
    gap: 3rem;
}

.grow {
    flex-grow: 1;
}

.w-50pct {
    width: 50%;
}