/* font-family: "Roboto", sans-serif; */
/* font-family: "Playfair Display", serif; */
*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1.3125rem;
    line-height: 1.6;
    color: #222C2A;
}

img {
    max-width: 100%;
}

h1, h2 {
    margin-top: 0;
    font-family: "Playfair Display", serif;
    font-weight: 900;
    line-height: 1.1; /* adjust line-height in case big font-size to reduce line gap */
}

section {
    padding: 4em 0;
}

.container {
    width: 85%;
    max-width: 1128px;
    margin: 0 auto;
}

.section-title {
    font-size: 2.25rem;
    color: #F3EED9;
}

.section-title--dark {
    color: #824936;
}

.intro {
    background-color: #F3EED9;
    color: #824936;
    text-align: center;
    /* padding: 10em 0; */
    /* height: at least 10px or bigger */
    /* if it has more content, it will stretch more than 660px */
    min-height: 660px;

    display: flex;
    align-items: center;
}

.intro__text {
    color: #222C2A;
    font-size: 1.125rem;
    letter-spacing: 0.625rem;
    text-transform: uppercase;
    margin: 0 0 0.25em;
}

.intro__title {
    font-size: 3rem;
}

.section-three {
    background-color: #222C2A;
    color: #fff;
}

.section-four {
    background-color: #824936;
    color: #fff;
}

@media (min-width: 800px) {    
    .row {
        display: flex;
    }

    .col {
        width: 100%;
    }

    .col + .col {
        margin-left: 4em;
    }

    .intro__title {
        font-size: 3.75rem;
    }
}